(
A,
Aacute,
Abreve,
Abreveacute,
Abrevedotbelow,
Abrevegrave,
Abrevehook,
Abrevetilde,
Acaron,
Acircumflex,
Acircumflexacute,
Acircumflexdotbelow,
Acircumflexgrave,
Acircumflexhook,
Acircumflextilde,
Adieresis,
Adotbelow,
Agrave,
Ahook,
Amacron,
Aogonek,
Aring,
Aringacute,
Atilde,
AE,
AEacute,
B,
C,
Cacute,
Ccaron,
Ccedilla,
Ccircumflex,
Cdotaccent,
D,
Dcaron,
Dcroat,
Eth,
E,
Eacute,
Ebreve,
Ecaron,
Ecircumflex,
Ecircumflexacute,
Ecircumflexdotbelow,
Ecircumflexgrave,
Ecircumflexhook,
Ecircumflextilde,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Ehook,
Emacron,
Eogonek,
Etilde,
Schwa,
F,
G,
Gbreve,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
H,
Hbar,
Hcircumflex,
I,
IJ,
Iacute,
Ibreve,
Icaron,
Icircumflex,
Idieresis,
Idotaccent,
Idotbelow,
Igrave,
Ihook,
Imacron,
Iogonek,
Itilde,
J,
Jacute,
Jcircumflex,
K,
Kcommaaccent,
L,
Lacute,
Lcaron,
Lcommaaccent,
Ldot,
Lslash,
M,
N,
Nacute,
Ncaron,
Ncommaaccent,
Ntilde,
Eng,
O,
Oacute,
Obreve,
Ocaron,
Ocircumflex,
Ocircumflexacute,
Ocircumflexdotbelow,
Ocircumflexgrave,
Ocircumflexhook,
Ocircumflextilde,
Odieresis,
Odotbelow,
Ograve,
Ohook,
Ohorn,
Ohornacute,
Ohorndotbelow,
Ohorngrave,
Ohornhook,
Ohorntilde,
Ohungarumlaut,
Omacron,
Oslash,
Oslashacute,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
S,
Sacute,
Scaron,
Scedilla,
Scircumflex,
Scommaaccent,
Germandbls,
T,
Tbar,
Tcaron,
Tcedilla,
Tcommaaccent,
U,
Uacute,
Ubreve,
Ucaron,
Ucircumflex,
Udieresis,
Udieresisacute,
Udieresiscaron,
Udieresisgrave,
Udieresismacron,
Udotbelow,
Ugrave,
Uhook,
Uhorn,
Uhornacute,
Uhorndotbelow,
Uhorngrave,
Uhornhook,
Uhorntilde,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Utilde,
V,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ydotbelow,
Ygrave,
Yhook,
Ytilde,
Z,
Zacute,
Zcaron,
Zdotaccent,
M.ss01,
W.ss01,
Wacute.ss01,
Wcircumflex.ss01,
Wdieresis.ss01,
Wgrave.ss01,
a,
aacute,
abreve,
abreveacute,
abrevedotbelow,
abrevegrave,
abrevehook,
abrevetilde,
acaron,
acircumflex,
acircumflexacute,
acircumflexdotbelow,
acircumflexgrave,
acircumflexhook,
acircumflextilde,
adieresis,
adotbelow,
agrave,
ahook,
amacron,
aogonek,
aring,
aringacute,
atilde,
ae,
aeacute,
b,
c,
cacute,
ccaron,
ccedilla,
ccircumflex,
cdotaccent,
d,
dcaron,
dcroat,
eth,
e,
eacute,
ebreve,
ecaron,
ecircumflex,
ecircumflexacute,
ecircumflexdotbelow,
ecircumflexgrave,
ecircumflexhook,
ecircumflextilde,
edieresis,
edotaccent,
edotbelow,
egrave,
ehook,
emacron,
eogonek,
etilde,
schwa,
f,
g,
gbreve,
gcircumflex,
gcommaaccent,
gdotaccent,
h,
hbar,
hcircumflex,
i,
dotlessi,
iacute,
ibreve,
icaron,
icircumflex,
idieresis,
idotbelow,
igrave,
ihook,
imacron,
iogonek,
itilde,
ij,
j,
dotlessj,
jacute,
jcircumflex,
k,
kcommaaccent,
kgreenlandic,
l,
lacute,
lcaron,
lcommaaccent,
ldot,
lslash,
m,
n,
nacute,
napostrophe,
ncaron,
ncommaaccent,
ntilde,
eng,
o,
oacute,
obreve,
ocaron,
ocircumflex,
ocircumflexacute,
ocircumflexdotbelow,
ocircumflexgrave,
ocircumflexhook,
ocircumflextilde,
odieresis,
odotbelow,
ograve,
ohook,
ohorn,
ohornacute,
ohorndotbelow,
ohorngrave,
ohornhook,
ohorntilde,
ohungarumlaut,
omacron,
oslash,
oslashacute,
otilde,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
s,
sacute,
scaron,
scedilla,
scircumflex,
scommaaccent,
germandbls,
longs,
t,
tbar,
tcaron,
tcedilla,
tcommaaccent,
u,
uacute,
ubreve,
ucaron,
ucircumflex,
udieresis,
udieresisacute,
udieresiscaron,
udieresisgrave,
udieresismacron,
udotbelow,
ugrave,
uhook,
uhorn,
uhornacute,
uhorndotbelow,
uhorngrave,
uhornhook,
uhorntilde,
uhungarumlaut,
umacron,
uogonek,
uring,
utilde,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
ydotbelow,
ygrave,
yhook,
ytilde,
z,
zacute,
zcaron,
zdotaccent,
a.alt01,
aacute.alt01,
abreve.alt01,
abreveacute.alt01,
abrevedotbelow.alt01,
abrevegrave.alt01,
abrevetilde.alt01,
acaron.alt01,
acircumflex.alt01,
acircumflexacute.alt01,
acircumflexdotbelow.alt01,
acircumflexgrave.alt01,
acircumflextilde.alt01,
adieresis.alt01,
adotbelow.alt01,
agrave.alt01,
amacron.alt01,
aogonek.alt01,
aring.alt01,
aringacute.alt01,
atilde.alt01,
g.alt01,
gbreve.alt01,
gcircumflex.alt01,
gcommaaccent.alt01,
gdotaccent.alt01,
germandbls.alt01,
g.alt02,
fi,
fl,
i_l_l,
l_i,
ordfeminine,
ordmasculine,
uni0410,
uni0411,
uni0412,
uni0413,
uni0403,
uni0490,
uni0492,
uni0494,
uni0414,
uni0415,
uni0400,
uni0401,
uni0416,
uni0417,
uni0418,
uni0419,
uni040D,
uni041A,
uni040C,
uni041B,
uni041C,
uni041D,
uni041E,
uni041F,
uni0420,
uni0421,
uni0422,
uni0423,
uni040E,
uni0424,
uni0425,
uni0427,
uni0426,
uni0428,
uni0429,
uni040F,
uni042C,
uni042B,
uni042A,
uni0409,
uni040A,
uni0405,
uni0404,
uni042D,
uni0406,
uni0407,
uni0408,
uni040B,
uni042E,
uni042F,
uni0402,
uni0472,
uni0496,
uni0498,
uni049A,
uni049C,
uni04A0,
uni04A2,
uni04A4,
uni04AA,
uni04AE,
uni04B0,
uni04B2,
uni04B6,
uni04B8,
uni04BA,
uni04C0,
uni04C1,
uni04D0,
uni04D2,
uni04D4,
uni04D6,
uni04D8,
uni04DC,
uni04DE,
uni04E2,
uni04E4,
uni04E6,
uni04E8,
uni04EE,
uni04F0,
uni04F2,
uni04F4,
uni04F8,
uni0430,
uni0431,
uni0432,
uni0433,
uni0453,
uni0491,
uni0493,
uni0495,
uni0434,
uni0435,
uni0450,
uni0451,
uni0436,
uni0437,
uni0438,
uni0439,
uni045D,
uni043A,
uni045C,
uni043B,
uni043C,
uni043D,
uni043E,
uni043F,
uni0440,
uni0441,
uni0442,
uni0443,
uni045E,
uni0444,
uni0445,
uni0447,
uni0446,
uni0448,
uni0449,
uni045F,
uni044C,
uni044B,
uni044A,
uni0459,
uni045A,
uni0455,
uni0454,
uni044D,
uni0456,
uni0457,
uni0458,
uni045B,
uni044E,
uni044F,
uni0452,
uni0473,
uni0497,
uni0499,
uni049B,
uni049D,
uni04A1,
uni04A3,
uni04A5,
uni04AB,
uni04AF,
uni04B1,
uni04B3,
uni04B7,
uni04B9,
uni04BB,
uni04CF,
uni04C2,
uni04D1,
uni04D3,
uni04D5,
uni04D7,
uni04D9,
uni04DD,
uni04DF,
uni04E3,
uni04E5,
uni04E7,
uni04E9,
uni04EF,
uni04F1,
uni04F3,
uni04F5,
uni04F9,
uni0430.alt01,
uni04D1.alt01,
uni04D3.alt01,
pi,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.alt01,
zero.alt02,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
onehalf,
uni2153,
uni2154,
onequarter,
threequarters,
uni2155,
uni2156,
uni2157,
uni2158,
uni2159,
uni215A,
uni2150,
uni215B,
uni215C,
uni215D,
uni215E,
uni2151,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
space,
nbspace,
.notdef,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
hyphen,
softhyphen,
endash,
emdash,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemotleft,
guillemotright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
florin,
baht,
checkmark,
crossmark,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
prime,
primedbl,
bar,
brokenbar,
dagger,
litre,
daggerdbl,
estimated,
numerosign,
Euro,
bitcoin,
cedi,
cent,
coloncurrency,
currency,
dollar,
dong,
guarani,
hryvnia,
kip,
lira,
liraturkish,
naira,
peso,
ruble,
rupee,
rupeeindian,
sheqel,
sterling,
tenge,
tugrik,
won,
yen,
divisionslash,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
integral,
Omega,
Delta,
product,
summation,
radical,
partialdiff,
mu,
percent,
perthousand,
arrowup,
arrowupright,
arrowright,
arrowdownright,
arrowdown,
arrowdownleft,
arrowleft,
arrowupleft,
arrowleftright,
arrowupdown,
arrowhookleft,
arrowhookright,
arrowupleftcorner,
arrowuprightcorner,
arrowdownleftcorner,
arrowdownrightcorner,
arrowrightdowncorner,
arrowrightupcorner,
arrowleftdowncorner,
arrowleftupcorner,
arrowdowncounterclockhalf,
arrowdownclockhalf,
arrowupleftcounterclock,
arrowuprightclock,
arrowrightarrowleft,
arrowleftarrowright,
dneighthblock,
dnquarterblock,
dnthreeeighthsblock,
dnhalfblock,
dnfiveeighthsblock,
dnthreequartersblock,
dnseveneighthsblock,
fullblock,
uphalfblock,
upeighthblock,
lefteighthblock,
leftquarterblock,
leftthreeeighthsblock,
lefthalfblock,
leftfiveeighthsblock,
leftthreequartersblock,
leftseveneighthsblock,
righthalfblock,
righteighthblock,
dnleftquadrant,
dnrightquadrant,
upleftquadrant,
upleftdnleftdnrightquadrant,
upleftdnrightquadrant,
upleftuprightdnleftquadrant,
upleftuprightdnrightquadrant,
uprightquadrant,
uprightdnleftquadrant,
uprightdnleftdnrightquadrant,
lightshade,
mediumshade,
darkshade,
lozenge,
dbldnhorzbxd,
dbldnleftbxd,
dbldnrightbxd,
dblhorzbxd,
dbluphorzbxd,
dblupleftbxd,
dbluprightbxd,
dblvertbxd,
dblverthorzbxd,
dblvertleftbxd,
dblvertrightbxd,
dndblhorzsngbxd,
dndblleftsngbxd,
dndblrightsngbxd,
dnheavyhorzlightbxd,
dnheavyleftlightbxd,
dnheavyleftuplightbxd,
dnheavyrightlightbxd,
dnheavyrightuplightbxd,
dnheavyuphorzlightbxd,
dnlighthorzheavybxd,
dnlightleftheavybxd,
dnlightleftupheavybxd,
dnlightrightheavybxd,
dnlightrightupheavybxd,
dnlightuphorzheavybxd,
dnsnghorzdblbxd,
dnsngleftdblbxd,
dnsngrightdblbxd,
heavydbldashhorzbxd,
heavydbldashvertbxd,
heavydnbxd,
heavydnhorzbxd,
heavydnleftbxd,
heavydnrightbxd,
heavyhorzbxd,
heavyleftbxd,
heavyleftlightrightbxd,
heavyquaddashhorzbxd,
heavyquaddashvertbxd,
heavyrightbxd,
heavytrpldashhorzbxd,
heavytrpldashvertbxd,
heavyupbxd,
heavyuphorzbxd,
heavyupleftbxd,
heavyuplightdnbxd,
heavyuprightbxd,
heavyvertbxd,
heavyverthorzbxd,
heavyvertleftbxd,
heavyvertrightbxd,
leftdnheavyrightuplightbxd,
leftheavyrightdnlightbxd,
leftheavyrightuplightbxd,
leftheavyrightvertlightbxd,
leftlightrightdnheavybxd,
leftlightrightupheavybxd,
leftlightrightvertheavybxd,
leftupheavyrightdnlightbxd,
lightarcdnleftbxd,
lightarcdnrightbxd,
lightarcupleftbxd,
lightarcuprightbxd,
lightdbldashhorzbxd,
lightdbldashvertbxd,
lightdiagcrossbxd,
lightdiagupleftdnrightbxd,
lightdiaguprightdnleftbxd,
lightdnbxd,
lightdnhorzbxd,
lightdnleftbxd,
lightdnrightbxd,
lighthorzbxd,
lightleftbxd,
lightleftheavyrightbxd,
lightquaddashhorzbxd,
lightquaddashvertbxd,
lightrightbxd,
lighttrpldashhorzbxd,
lighttrpldashvertbxd,
lightupbxd,
lightupheavydnbxd,
lightuphorzbxd,
lightupleftbxd,
lightuprightbxd,
lightvertbxd,
lightverthorzbxd,
lightvertleftbxd,
lightvertrightbxd,
rightdnheavyleftuplightbxd,
rightheavyleftdnlightbxd,
rightheavyleftuplightbxd,
rightheavyleftvertlightbxd,
rightlightleftdnheavybxd,
rightlightleftupheavybxd,
rightlightleftvertheavybxd,
rightupheavyleftdnlightbxd,
updblhorzsngbxd,
updblleftsngbxd,
updblrightsngbxd,
upheavydnhorzlightbxd,
upheavyhorzlightbxd,
upheavyleftdnlightbxd,
upheavyleftlightbxd,
upheavyrightdnlightbxd,
upheavyrightlightbxd,
uplightdnhorzheavybxd,
uplighthorzheavybxd,
uplightleftdnheavybxd,
uplightleftheavybxd,
uplightrightdnheavybxd,
uplightrightheavybxd,
upsnghorzdblbxd,
upsngleftdblbxd,
upsngrightdblbxd,
vertdblhorzsngbxd,
vertdblleftsngbxd,
vertdblrightsngbxd,
vertheavyhorzlightbxd,
vertheavyleftlightbxd,
vertheavyrightlightbxd,
vertlighthorzheavybxd,
vertlightleftheavybxd,
vertlightrightheavybxd,
vertsnghorzdblbxd,
vertsngleftdblbxd,
vertsngrightdblbxd,
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
hookcomb,
commaturnedtopcomb,
caronslovakcomb,
horncomb,
dotbelowcomb,
commabelowcomb,
cedillacomb,
ogonekcomb,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
breve.cyrl_case,
ring,
tilde,
macron,
cedilla,
ogonek,
tilde.alt01,
dieresis.case,
dotaccent.case,
grave.case,
acute.case,
hungarumlaut.case,
circumflex.case,
caron.case,
breve.case,
ring.case,
tilde.case,
macron.case,
breve.cyrl,
tilde.alt01.case,
caronslovak,
commaturnedtop,
IJacute,
breveacute,
brevegrave,
brevehook,
brevetilde,
circumflexacute,
circumflexbreve,
circumflexgrave,
circumflexhook,
circumflextilde,
dieresisacute,
dieresiscaron,
dieresisgrave,
dieresismacron,
ijacute,
ringacute,
abrevehook.alt01,
acircumflexhook.alt01,
ahook.alt01,
breveacute.case,
brevegrave.case,
brevehook.case,
brevetilde.case,
circumflexacute.case,
circumflexbreve.case,
circumflexgrave.case,
circumflexhook.case,
circumflextilde.case,
dieresisacute.case,
dieresiscaron.case,
dieresisgrave.case,
dieresismacron.case,
hookcomb.case,
ringacute.case
)